#mapContainer {
    width: 50%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    border: black 2px solid; 
}

.navbar a:link {
    color: white;    
}

.white-link {
    font-size: 30px;
    color: white;
}

.colors {    
    background-color: green;
    color: white;
}

.banner {
    height: auto;            
    margin: 100px auto 0px auto;
    text-align: center;
}

.content {
    width: 70%;
    margin: 15px auto;
    
}

.role {
    height: auto;    
    max-width: auto;
    border-radius: 50px;
    border: solid 5px gray;
    text-align: center;
    padding: 10%;
    color: gray;   
    font-size: 20px;
}

.role:hover {
    cursor: pointer;
    font-size: 25px;
    border: solid 8px gray;
}

.role > a:link {
    color: gray;
    text-decoration: none;
}

.icon {
    font-size: 180px;     
}



.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;   
}

.ranking-list {
    margin: 15px 0px;
}


/*-------------------      SCHOOLS.HTML        ------------------*/

.school-container {
    width: 80%;
    margin: 20px auto;
}

#school-name {
    margin-top: 90px;
}

.statistics-info, .ranking-info, .forms {
    max-width: 100%;
    height: 300px;
    border: solid 2px black;
}

.forms {
    font-size: 20px;
    padding: 5% 0 0 10%;
}