.navbar a:link {
    color: white;    
}

.white-link {
    font-size: 30px;
    color: lightgoldenrodyellow;
}

.logo {
    width: 300px;
    height: 90px;
    background-color: lightgoldenrodyellow;
    margin-bottom: -2px;
    margin-left: -15px;     
}

.colors {    
    background-color: green;
    color: white;
}

.banner {
    height: auto;            
    margin: 100px auto 0px auto;
    text-align: center;
}

.content {
    width: 70%;
    margin: 15px auto;
    background-color: gray;
    padding: 5% 10%;
    
}

.role {
    height: 100%;    
    width: 100%;
    border-radius: 50%;    
    text-align: center;
    padding: 10%;
    color: white;   
    font-size: 20px;
}

.recycle-btn {
    background-color: green;
    border: solid 5px green;
}

.college-btn {
    background-color: yellow;
    border: solid 5px yellow;
}

.college-btn:hover {
    cursor: pointer;
    font-size: 25px;
    border: solid 8px yellow;
}

.recycle-btn:hover {
    cursor: pointer;
    font-size: 25px;
    border: solid 8px green;
}


.recycle-btn > a:link {
    color: white;
    text-decoration: none;
}

.icon {
    font-size: 180px;     
    color: white;
}



.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;   
}

.ranking-list {
    margin: 15px 0px;
}


/*-------------------      SCHOOLS.HTML        ------------------*/

.school-container {
    width: 80%;
    margin: 20px auto;
}

#school-name {
    margin-top: 90px;
}

.statistics-info, .ranking-info, .forms {
    max-width: 100%;
    height: 150px;
    border: solid 2px black;
}

.forms {
    font-size: 20px;
    padding: 5% 0 0 10%;
}

/*-----------------------  REC-MAP.HTML    -----------------------------*/

body, html, #wrapper {
    height: 100%;
    width: 100%;
}

.top-space {
    margin-top: 100px;
}

#mapContainer {
    width: 100%;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    border: black 2px solid; 
    padding: 5%;
}